In [ ]:
# Tuples
#collection which is ordered (so can't move elements around) and unchangeable, allow duplicate values and allow different data types inside too.

#Tuples are used to store data that doesn't change frequently (its immutable). It's also hashable which means you can use it as a dictionary key.

#Take up less memory than a list so if you're sure the elements absolutely won't change, use a tuple
my_tuple = ("apple", 1, "corn")

print(my_tuple)
print(type(my_tuple))

new_tuple = (2, my_tuple) #Tuples are immutable so can only add a tuple to a tuple to add to it
print(new_tuple)
next_tuple = (2, "apple", (3, 4))

('apple', 1, 'corn')
<class 'tuple'>
(2, ('apple', 1, 'corn'))

In [ ]:
empty_tuple = ()

#Can turn something into a tuple by:
example_tuple = tuple(("Bob", 36, "London"))

fruit_tuple = ("apple", "banana")
print(type(fruit_tuple))

print(fruit_tuple[-1]) #returns last element of the tuple

<class 'tuple'>
banana

In [ ]:
my_tuple = ("red", 3, "blue", "green")
print(my_tuple[::2]) # works by [start: stop], so it goes from the element in start (if none stated then it defaults to 0) UP TO the element in stop (not including stop), [start:stop:step] step is just the increment value, so if you put in -1, it would go backwards

('red', 'blue')

start:stop
start:stop:step

In [ ]:
my_tuple = ("Banana", 2)
new_tuple = (3, 4)

third_tuple = (my_tuple, new_tuple, 3)
print(third_tuple)

(('Banana', 2), (3, 4), 3)

In [ ]:
first_tuple = (3, 4)
second_tuple = (4, 3)
print(first_tuple > second_tuple)



print(len(first_tuple)) #returns length of tuple

False
2

In [ ]:
my_tuple = (1, 2, 3)

print(2 in my_tuple) #Returns if that value is in the tuple

True

In [ ]:
my_tuple = (3, "apple", "banana", 1)


a, *rest = my_tuple #Unpacking a tuple, so right now "a" corresponds to "3", *rest is apple banana and 1. If it was a,b,c,d = my_tuple, "d" would be 1 etc etc
print(*rest)

apple banana 1

In [ ]:
# SETS
# A set is a collection which is unordered, unCHANGEable*, and unindexed.
# Removes all duplicates

In [ ]:
my_set1 = set() # This would make an empty set

my_set2 = set([1,2,3]) #This is turning the list (as shown by the [] usage) into a set

my_set3 = {1, 2, 3} #Use {} to make a set, just this time unlike with dictionaries, you dont add key value pairs

In [ ]:
my_set = {1, 2, 3, 3}
print(my_set)

{1, 2, 3}

In [ ]:
my_set = {1, 2, 3}

my_set.add("fruits") # Adding ONE element to the set
print(my_set)

my_set.update(["apples", 4]) #Adding multiple elements from any iterables (iterables are tuples, sets and lists, in this case its a list) to a set
print(my_set)

my_set.remove("apples") #Removing an element from a set
print(my_set)

{1, 2, 3, 'fruits'}
{1, 2, 3, 4, 'apples', 'fruits'}
{1, 2, 3, 4, 'fruits'}

In [ ]:
genres = {"Pop", "Rock", "Jazz", "Classical", "Pop"}

#Check if element is in the set
if "Rap" not in genres:
  print(True)

True

membeship testing - 'in' or 'not in'

In [ ]:
set1 = {1, 2, 3}
set2 = {3, 4, 5}

# Union: Combines elements from both sets without duplicates
union_set = set1.union(set2)
print(union_set)

# Intersection: Finds common elements between both sets
intersection_set = set1.intersection(set2)
print(intersection_set)

# Difference: Finds elements in set1 that are not in set2
difference_set = set1.difference(set2)
print(difference_set)
print(set1 - set2)

# Symmetric Difference: Finds elements that are in either set1 or set2, but not both
symmetric_difference = set1.symmetric_difference(set2)
print(symmetric_difference)  # Output: {1, 2, 4, 5}

# isdisjoint: Checks if set1 and set2 have no elements in common
print(set1.isdisjoint(set2))

# issubset: Checks if all elements of set1 are contained within set2
# This will return False since set1 has elements (1, 2) that are not in set2.
print(set1.issubset(set2))

{1, 2, 3, 4, 5}
{3}
{1, 2}
{1, 2}
{1, 2, 4, 5}
False
False

In [ ]:
#Lambda functions
#Small anonymous function defined with the lambda keyword unlike def. It can have any number of parameters but only one expression and it returns the result of that expression.
#To make a lambda function you have to use this format "lambda arguments: expression"

# A simple lambda function to add 10 to a number
add_ten = lambda x: x+ 10
print(add_ten(5))

# Lambda function with two arguments
add = lambda x, y: x + y

# Lambda function with three arguments
multiply = lambda x, y, z: x*y*z

#map() applies a function to all items in an iterable and returns a map object
# Example: Doubling all numbers in a list
numbers = [1,2,3,4]
doubled = list(map(lambda x: x * 2, numbers))

print(doubled)

#filter() filters items from an iterable based on a condition.
numbers = [1,2,3,4,5,6]
evens = list(filter(lambda x: x % 2 == 0, numbers))
print(evens)

#sorted()
#reduce(), these 2 functions also exist but just won't be going through them.

15
[2, 4, 6, 8]
[2, 4, 6]

In [ ]:
#Modules
#Simply a file that contains defintions of functions, classes and variables that you can reuse in other files/programs.
#Good for code reusability and maintainability
#Can't exactly do this in one colab file but you can understand where this is going

# For example, create a file called maths_operations.py

def add(x, y):
    return x + y

def sub(x, y):
    return x - y

z = 23.6

In [ ]:
#Hypothetically, be in a different file right now (this cell will return an error) and you can do:
import maths_operations #This will import the entire module

res = maths_operations.add(5,10) #This would output 15
print(maths_operations.z) #would output 23.6


#To import specific functions or variables from a module
from maths_operations import add, sub, z


#Import all contents from a module (not recommended)
from maths_operations import *
#The issue with this is that there could be naming conflicts with other parts of your code or other modules

#Can also create an alias for a module to shorten the name, for example:
import maths_operations as mo


#There's a bunch of in-built modules in python you can use eg math, random, os (for interacting with the operating system), datetime.
#For example: import random

import random

# Generate a random number between 1 and 10
print(random.randint(1, 10))

In [ ]:
#Classes
#Python, Java, C++, C++ etc are all examples of object oriented programming languages.
# Python is constantly using objects but you just don't realise it

#There's 4 pillars of Object Oriented Programming:
#Inheritance
#Polymorphism
#Encapsulation
#Abstraction

print(type("abc")) #This would output <class 'str'>. It's saying that abc is an object of the class string.
x =3.3
print(type(3.3)) #similarly with this, it'll say float

#What exactly is a class?
#A class is like a blueprint or a template for creating objects.

#What is an object?
#Python Objects are basically an encapsulation of data variables and methods acting on that data into a single entity.

<class 'str'>
<class 'float'>

In [ ]:
class Car:
  def __init__(self, brand, model, year):
    self.brand = brand
    self.model = model
    self.year = year

  def details(self):
    return f"This is a {self.brand} {self.model} {self.year}"

#"class Car" is a blueprint for creating a "Car" object

#The __init__ method is the constructor. It initializes the object's attributes. It's called every time you create a new object from a class.

#"self" is a reference to the current object being created. It allows you to refer to the object’s attributes and methods inside the class. You could call it anything else apart from "self" but just stick with that for naming convention.

#self.brand (for example): This is an attribute of the object being created. self.brand will store the brand of the object.

#details is a method. Methods in objects are functions that belong to the object.


car1 = Car("Toyota", "Camry", 2020)
print(car1.details())


print(car1.brand)
print(car1.details())

#Can change object properties
car1.year = 2019
print(car1.year)


car2 = Car("Bugatti", "Veyron", "2010")
print(car2.details())

This is a Toyota Camry 2020
Toyota
This is a Toyota Camry 2020
2019
This is a Bugatti Veyron 2010

In [ ]:
#Inheritance
#Allows one class to inherit the attributes and methods of another.

class Car:
  def __init__(self, brand, model):
    self.brand = brand
    self.model = model

  def details(self):
    return f"{self.brand} {self.model}"

class ElectricCar(Car):
  def __init__(self,brand, model, battery_capacity):
    # Call the constructor of the parent class (Car)
    super().__init__(brand, model)
    # Add a new attribute specific to the ElectricCar class
    self.battery_capacity = battery_capacity

car1 = Car("Toyota", "Camry")
electric_car1 = ElectricCar("Tesla", "Model S", 100)

print(electric_car1.details())

Tesla Model S

In [ ]:
#Encapsulation
#Hiding internal attributes from outside access.
#Much stricter in a language like Java where you declare the variable as private, however it's still good to know about it here
class Car:
  def __init__(self, brand, model):
    self.__brand = brand # _ means protected, __ means private in which you can only use that attribute inside that class
    self.__model = model

  # Public "getter" method to get the brand
  def get_brand(self):
    return self.__brand

  # Public "setter" method to set a new brand
  def set_brand(self, new_brand):
    self.__brand = new_brand

car = Car("Porsche", "911")

#print(car.__brand) returns an error
print(car.get_brand())

car.set_brand("Mercedes") #Using the setter method to change that attribute
print(car.get_brand())

Porsche
Mercedes

In [ ]:
#Abstraction

#By making a class abstract, you ensure that all subclasses must implement certain methods.
#If a subclass does not provide an implementation, Python will throw an error. This guarantees consistency across all subclasses.

#Imagine you have different types of vehicles, but you don’t want to deal with how they actually move; you just want a simple interface (move()) to make any vehicle move.

from abc import ABC, abstractmethod
class Vehicle(ABC):
  @abstractmethod
  def move(self):
    pass

class Car(Vehicle):
  def move(self):
    return "The car is driving on the road"

class Boat(Vehicle):
  def move(self):
    return "The boat is sailing on water"

car = Car()
boat = Boat()

print(car.move())

The car is driving on the road

In [ ]:
#Polymorphism
#Different classes can define the same method with different behavior.
class Person:
  def __init__(self, name, job, age):
    self.name = name
    self.job = job
    self.age = age

  def get_details(self):
       return f"Hi my name is {self.name}, I work at {self.job} and I am {self.age} years old"


class Bob(Person):
  def __init__(self, name, job, age, sport):
    super().__init__(name, job, age)
    self.sport = sport

  def get_details(self):
     return f"Hi my name is {self.name}, I work at {self.job} and I am {self.age} years old and I do {self.sport}"

class Alice(Person):
  def __init__(self, name, job, age, skill):
    super().__init__(name, job, age)
    self.skill = skill

  def get_details(self):
   return f"Hi my name is {self.name}, I work at {self.job} and I am {self.age} years old and I do {self.skill}"

alice = Alice("Alice", "Engineer", 23, "archery")

print(alice.get_details())

Hi my name is Alice, I work at Engineer and I am 23 years old and I do archery